/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

.navbar {
  background-color: #171C30;
  font-family: "Cal Sans", sans-serif;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: none;
  box-shadow: none;
} 